* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    45deg,
    rgb(255, 170, 170),
    rgb(255, 218, 151),
    rgb(255, 255, 153),
    rgb(176, 255, 176),
    rgb(173, 173, 255),
    rgb(218, 167, 255),
    violet,
    rgb(255, 183, 183)
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  width: 50vw;
  height: 90vh;
  overflow: hidden;
}

.bar {
  width: 100%;
  height: auto;
  z-index: 3;
  position: absolute;
}
.bg {
  width: 100%;
  height: 100%;
  background: url(image/background_back.jpg);
  background-position: 0% 0%;
  position: absolute;
  background-repeat: repeat;
  background-size: cover;
  overflow: hidden;
  animation: movebg 20s linear infinite;
}

.bg_front {
  width: 100%;
  height: 100%;
  background: url(image/bg_front.png);
  background-position: 0% 0%;
  position: absolute;
  background-repeat: repeat;
  background-size: cover;
  overflow: hidden;
  animation: movebg 20s linear infinite;
}

.fly {
  position: absolute;
  width: 15rem;
  height: 15rem;
  animation: fly 6s ease-in-out infinite;
  top: 30%;
  left: 40%;
}

.flyingpudding {
  position: absolute;
  width: 155rem;
  height: 35rem;
  animation: pudding 10s linear infinite;
  z-index: 1;
  overflow: hidden;
}

.flyingpanty {
  position: absolute;
  width: 5rem;
  height: 5rem;
  z-index: 2;
  overflow: hidden;
  /* how can I add more time when next animation happens? */
  animation: panty 3s linear infinite;
  top: 30%;
  left: 100%;
}

@keyframes movebg {
  0% {
    background-position: 100vw 0;
  }

  100% {
    background-position: 0vw 0;
  }
}

@keyframes fly {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: rotate(20deg) translateX(10vw);
  }

  60% {
    transform: rotate(-20deg) translateX(-10vw);
  }

  100% {
    transform: rotate(0deg) translateX(0);
  }
}

@keyframes pudding {
  0% {
    transform: translateX(100%) translateY(-40%);
  }

  100% {
    transform: translateX(-100%) translateY(-10%);
  }
}
@keyframes panty {
  0% {
    transform: translateX(0%) translateY(0%) rotate(0deg);
  }

  20% {
    transform: translateX(-186%) translateY(-5%) rotate(90deg);
  }

  40% {
    transform: translateX(-372%) translateY(0%) rotate(180deg);
  }

  60% {
    transform: translateX(-558%) translateY(5%) rotate(270deg);
  }

  80% {
    transform: translateX(-744%) translateY(0%) rotate(360deg);
  }

  100% {
    transform: translateX(-930%) translateY(0%) rotate(450deg);
  }
}

/* @media (orientation: portrait) {
  body {
    background-color: linear-gradient(
      45deg,
      rgb(255, 0, 0),
      rgb(255, 165, 0),
      rgb(255, 255, 0),
      rgb(0, 255, 0),
      rgb(0, 191, 255),
      rgb(75, 0, 130),
      rgb(148, 0, 211)
    );
  }
} */

@keyframes pudding-portrait {
  0% {
    transform: translateX(-100%) translateY(20%) scaleX(-1);
  }

  100% {
    transform: translateX(100%) translateY(-90%) scaleX(-1);
  }
}

.flyingpudding {
  animation: pudding-portrait 10s linear infinite;
}

audio {
  position: absolute;
  top: 0;
  left: 0;
}
